/* Import other stylesheets */
@import url("reset.css");
/* Set default values */
* {
  font-family: Times, serif;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #424242;
  display: flex;
  flex-direction: column;
}
strong {
  font-weight: 700;
}
/* Footer */
.copyright {
  color: #606060;
  font-family: serif;
  font-size: 0.8em;
  padding: 0.5em;
}
.main-footer {
  align-items: center;
  background-color: #d5d5d5;
  display: flex;
  font-size: 20px;
}
/* Header */
.brand {
  color: #000;
  font-family: Arizonia;
}
.header {
  align-items: center;
  background-color: #d5d5d5;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 1em;
  width: 100%;
}
.link {
  color: #000;
  margin: 0 0.5em;
}
.link:hover {
  color: #f3f3f3;
  border-bottom: 0.2em;
}
.active {
  color: #f3f3f3;
}
.main-header {
  display: flex;
  font-size: 80px;
  justify-content: center;
  width: 100%;
}
.nav-links {
  display: flex;
  font-family: "Arima Madurai";
  padding: 0.5em 0;
}
.header-title {
  font-size: 1em;
  margin: 0.1em;
  padding: 0.1em;
}
.sub-header {
  background-color: #bdbdbd;
  display: flex;
  justify-content: center;
  width: 100%;
}
/* Main */
.container {
  background-color: #e7e6e6;
  display: flex;
  margin: 0 1em 1em;
  padding: 2em;
}
.layout {

}
/* Side-Menu */
.side-menu {

}
